@import url("https://fonts.googleapis.com/css2?family=Jomhuria&display=swap");
@import "C:/Users/PC/OneDrive/Documents/Baofei/baofei/node_modules/bootstrap/scss/bootstrap";

$green: #517c63;
$pale: #e7dfcf;
$dirty-white: #f3f0e9;
$grey-black: #4c525f;
#root {
  width: 100vw;
}
.main {
  font-family: "Jomhuria", cursive;
  display: flex;
  flex-direction: column;
  #btnOrder {
    align-self: center;
    margin-bottom: 1em;
  }
}

nav {
  display: flex;
  background-color: $green;
  justify-items: center;
  align-items: center;
  a {
    font-size: 2em !important;
  }
  button {
    height: auto;
  }

  #container-fluid {
    justify-items: center;
    align-items: center;
  }
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  background-color: $dirty-white;

  .baofei-logo {
    width: 150px;
    height: auto;
  }
  .baofei-text {
    color: $green-700;
  }
}

#orderForm {
  display: flex;
  flex-direction: column;
  background-color: rgb(57, 71, 57);
  align-self: center;
  align-items: center;
  justify-self: center;
  border-radius: 1em;

  #item {
    display: flex;
    align-items: center;
    background-color: white;
    margin: 1em;
    border-radius: 0.5em;
    align-self: stretch;
    justify-content: space-between;

    .itemElement {
      margin: 1em;
      font-size: 1.5rem;
    }
    .even-spacing {
      width: 5em;
      max-width: 5em;
    }
    #itemNumber {
      width: 2.5em;
      max-width: 2.5em;
    }
  }

  #orderTotal {
    color: white;
  }
}

#content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  background-color: $pale;
  padding: 20px;

  #bubbletea {
    max-width: 720px;
    width: 100vw;
    background: rgba(255, 255, 255, 0.5);
  }
  h2 {
    color: $grey-black;
  }
}

#body {
  display: flex;
  flex-direction: column;
  h1 {
    font-size: 80px;
  }
  h2 {
    font-size: 40px;
  }
}
