@import url("https://fonts.googleapis.com/css2?family=Jomhuria&display=swap");
@import "C:/Users/PC/OneDrive/Documents/Baofei/baofei/node_modules/bootstrap/scss/bootstrap";

#root {
  width: 100vw;
}
.main {
  font-family: "Jomhuria", cursive;
  display: flex;
  flex-direction: column;

  #btnOrder {
    align-self: center;
    margin-bottom: 1em;
  }
}
nav {
  a {
    font-size: 2em !important;
  }
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;

  .baofei-logo {
    width: 150px;
    height: auto;
  }
  .baofei-text {
    font-size: 75px;
    color: $green-700;
  }
}

#orderForm {
  display: flex;
  flex-direction: column;
  background-color: rgb(57, 71, 57);
  align-self: center;
  align-items: center;
  border-radius: 1em;
  margin-bottom: 3em;

  #item {
    display: flex;
    align-items: center;
    background-color: white;
    margin: 1em;
    border-radius: 0.5em;
    align-self: stretch;
    justify-content: space-between;

    .itemElement {
      margin: 1em;
      font-size: 1.5rem;
    }
    .even-spacing {
      width: 5em;
      max-width: 5em;
    }
    #itemNumber {
      width: 2.5em;
      max-width: 2.5em;
    }
  }

  #orderTotal {
    color: white;
  }
}
